#rightcolumn {
    float: left;
    width: 230px;
    height: 100%;
    margin-left: -230px;
    border-radius: 12px;
    
}

.innertext2 {
    background: #FFFB00;
    position: fixed;
    margin: 20px;
    font-family: Arial; 
    color: #df0b0b;
    text-align: center;
    border-radius: 12px;
}





@media (max-width: 840px){ /* Drop Right Column Down */

    
#rightcolumn {
        float: none;
        width: 100%;
        margin-left: 0;
        clear: both;
        border-radius: 12px;
    }
    

}